div,p{
  font-family:
      "Microsoft Yahei",
      sans-serif,
      "WenQuanYi Microhei";
  font-size: 10pt;
}

div.header{
  font-size: 1.2em;
  background-color: #444444;
  color: white;
  padding: 1px
}

div.header p{
  align: left;
  padding-left: 20px;
}

div.nav{
  line-height:30px;
  background-color:#eeeeee;
  width: 100%;
  padding:5px;
}

div.nav ul li{
  list-style-type: none;
  display: inline;
}

canvas#cv{
  width: 600px;
  height: 600px;
  background-color: white;
  float: left;
  margin: 10px;
}

div.control, div.match{
  width: 300px;
  border: 1px solid #777777;
  float: left;
  padding: 5px;
  margin: 5px;
}

div.footer{
  padding: 5px;
  background-color: #222222;
  color: #555555;
  clear:both;
}

div.footer p{
  font-size: 16pt;
}


div.footer a{
  color:#aaaaaa;
}

div.footer a:hover{
  color:white;
}
